#banner {
  width: 100%;
  height: 10vh;
}

@media (min-width: 992px) {
  .navbar-brand {
    background-image: url("../../assets/img/OW.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 60px;
    background-size: 80%;
    margin-left: 50px;
  }
}

#navcol-1 {
  padding-left: 0;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  #navcol-1 {
    position: absolute;
    display: block;
    top: 13px;
    right: 10px;
  }
}

@media (min-width: 1280px) {
  #navcol-1 {
    right: 100px;
  }
}

.test-button {
  border-radius: 24px;
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  background-color: #1f77e1;
  /*width: 100%;*/
}

@media (min-width: 922px) {
  .test-button {
    position: relative;
  }
}

.menu {
  border-top: 1px solid #eee;
  background-color: #fff;
}

@media (min-width: 992px) {
  .menu {
    padding: 24px 0;
    border-top-width: 2px;
  }
}

.header-col1 h1 {
  margin: 0 0 13px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #fff !important;
  text-align: center !important;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .header-col1 h1 {
    text-align: left !important;
    font-size: 50px;
    color: #000 !important;
  }
}

.hero-image {
  padding: 65px 0 45px;
  text-align: center;
  background-image: linear-gradient(#2771da, #1951b2);
}

@media (min-width: 576px) {
  .hero-image {
    padding: 65px 0 100px;
  }
}

@media (min-width: 992px) {
  .hero-image {
    background-color: #fafafa;
    background: -webkit-radial-gradient(top, ellipse cover, #fff 0%, #fafafa 47%);
    text-align: left;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.btn-brand {
  padding: 0 25px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
  border-radius: 19px;
  border: 3px solid #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 200ms;
  font-family: 'Montserrat';
  /*-webkit-tap-highlight-color: transparent;*/
  background-color: transparent;
  border-color: #fff;
}

@media (min-width: 992px) {
  .btn-brand {
    font-size: 18px;
    line-height: 40px;
    color: #1f77e1;
    border-color: #1f77e1;
    border-radius: 24px;
    line-height: 40px;
    width: auto;
    text-align: center;
  }
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.row.cart-one {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 992px) {
  .nav-item {
    display: inline-block;
    padding: 0 0 0 20px;
  }
}

#navlink a {
  padding: 5px 20px;
}

#navcol-1 a {
  color: #000;
}

.speech {
  position: absolute;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  max-width: 100%;
  /*margin-top: 50px;*/
  bottom: 0;
}

#intro {
  position: relative;
  padding: 45px 0 100px;
  /*margin-top: 100px;*/
}

@media (min-width: 992px) {
  #intro {
    padding-bottom: 210px;
  }
}

@media (min-width: 1400px) {
  #intro {
    padding: 0 0 270px;
  }
}

#intro h2 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
}

@media (min-width: 992px) {
  #intro h2 {
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 32px;
  }
}

.counter {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-size: 65px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: #437fc1;
}

@media (min-width: 576px) {
  .counter {
    font-size: 80px;
  }
}

@media (min-width: 992px) {
  .counter {
    margin-top: 30px;
    line-height: 105px;
    text-align: center;
    font-size: 96px;
  }
}

.panel {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .panel {
    flex: 0 0 50%;
    max-width: 100%;
  }
}

.text-brand {
  color: #144bb0;
  text-align: center;
  line-height: 1.3;
  font-size: 18px;
  margin: 0 0 50px;
  font-family: 'Montserrat';
  font-weight: 400;
}

.zaproszenie {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .zaproszenie {
    margin: 0 0 30px;
    font-size: 32px;
    line-height: 1.2;
  }
}

.zap2 {
  text-align: center;
}

#intro img {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  max-width: 100%;
}

@media (min-width: 1200px) {
  #intro {
  }
}

#chart-section {
  padding: 100px 0 50px;
  position: relative;
  background-color: #f7f7f7;
  display: block;
}

@media (min-width: 992px) {
  #chart-section {
    padding: 0;
    padding-bottom: 0;
  }
}

.header {
  padding-top: 0;
  position: relative;
  display: block;
  box-sizing: border-box;
  bottom: 0;
}

@media (min-width: 992px) {
  .header {
    padding-bottom: 75px;
  }
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.row.r {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}

.col.c2 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  align-self: center;
}

@media (min-width: 992px) {
  .col.c2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.content {
  box-sizing: border-box;
  margin-top: 30px;
}

.pow {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  box-sizing: border-box;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Montserrat';
  text-align: left;
}

.content p {
  margin: 0 0 15px;
  color: #555;
  box-sizing: border-box;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  font-size: 14px;
  margin-inline-end: 0px;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .content p {
    font-size: 16px;
  }
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
  list-style-type: decimal;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  direction: ltr;
  box-sizing: border-box;
  unicode-bidi: isolate;
  display: list-item;
  text-align: -webkit-match-parent;
}

.content li {
  margin: 0 0 15px;
  color: #555;
  font-size: 14px;
  font-family: 'Montserrat';
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  direction: ltr;
  font-weight: 400;
  unicode-bidi: isolate;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .content li {
    font-size: 16px;
  }
}

.chart-row {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .chart-row:first-of-type {
    margin-top: 55px;
  }
}

.chart-label {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

@media (min-width: 992px) {
  .chart-label {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

.label {
  margin: 0;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat';
  line-height: 30px;
  text-align: right;
  color: #2881e9;
}

@media (min-width: 992px) {
  .label {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
}

.chart-bar {
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .chart-bar {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

.progress-bar {
  height: 30px;
  margin-bottom: 5px;
  border-radius: 0;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: width .6s ease;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .progress-bar {
    height: 40px;
  }
}

.progress {
  height: 100%;
  border-radius: 0;
  background-color: #2881e9;
  transition: width 800ms;
  display: flex;
  font-size: .75rem;
  overflow: hidden;
  box-sizing: border-box;
}

.speech2 {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: -1px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

#kwestionariusz {
  padding: 80px 0;
  background-color: #267be5;
  display: block;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 992px) {
  #kwestionariusz {
    padding: 200px 0 270px;
  }
}

@media (min-width: 1400px) {
  #kwestionariusz {
    padding-bottom: 270px;
  }
}

.question-container {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .question-container {
    max-width: 540px;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .question-container {
    max-width: 720px;
    margin-bottom: 3rem;
  }
}

@media (min-width: 992px) {
  .question-container {
    max-width: 960px;
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

@media (min-width: 1200px) {
  .question-container {
    max-width: 1140px;
  }
}

.wyp-test {
  margin: 0 0 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  font-size: 2rem;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .wyp-test {
    font-size: 56px;
  }
}

.question {
  padding: 30px 30px 10px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .question {
    padding-bottom: 30px;
  }
}

.question h3 {
  position: relative;
  left: -32px;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat';
  line-height: 28px;
  background-color: #267be5;
  color: #fff;
  border-radius: 0 10px 10px 0;
  text-align: left;
  margin-bottom: .5rem;
  margin-top: 0;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .question h3 {
    padding-left: 10px;
    width: 230px;
    font-size: 28px;
    line-height: 44px;
    border-radius: 0 22px 22px 0;
  }
}

.question .text {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.1;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .question .text {
    margin: 40px 0;
    font-size: 28px;
  }
}

.question-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}

.question-buton {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .question-buton {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.question-link {
  width: 100%;
  margin-bottom: 20px;
  padding: 0 25px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat';
  transition: all 200ms;
  line-height: 40px;
  -webkit-transition: all 200ms;
  display: inline-block;
  color: #1f77e1;
  letter-spacing: 2px;
  border: 3px solid #1f77e1;
  border-radius: 24px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

a: -webkit-any-link {
  cursor: pointer;
  color: -webkit-link;
}

a-hover {
  text-decoration: none;
}

.speech3 {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  bottom: -1px;
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
  color: inherit;
}

.faq {
  padding: 30px 0 50px;
  background-color: #f7f7f7;
  display: block;
  box-sizing: border-box;
}

.faq-col1 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  display: block;
}

@media (min-width: 992px) {
  .faq-col1 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

.faq-col2 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  display: block;
}

@media (min-width: 992px) {
  .faq-col2 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

.faq-title {
  font-family: 'Roboto Condensed';
  font-size: 180px !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  text-align: center;
  background: linear-gradient(#67b0f9, #1951b2);
  -webkit-background-clip: text;
  margin-bottom: .5rem !important;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  padding-bottom: 0 !important;
}

@media (min-width: 992px) {
  .faq-title {
    margin-top: 80px !important;
    font-size: 230px !important;
  }
}

.qna {
  font-size: 18px !important;
  letter-spacing: 2.2px !important;
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
  box-sizing: border-box;
  display: block;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .qna {
    font-size: 24px !important;
  }
}

.accordion {
  box-sizing: border-box;
  display: block;
  margin-top: 30px;
}

.accordion > .card {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #bababa !important;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #f7f7f7;
  background-clip: border-box;
  box-sizing: border-box;
  display: block;
}

.card-header {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  margin-bottom: -1px;
}

.card-header a {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.card-header h3 {
  position: relative;
  padding: 10px 20px 10px 0;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #444;
  font-family: 'Montserrat';
  line-height: 1.2;
  background-color: #f7f7f7;
  box-sizing: border-box;
  display: block;
}

@media (min-width: 992px) {
  .card-header h3 {
    font-size: 15px;
  }
}

.card-header h3::after {
  content: "v";
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: 800;
  transform: rotate(0deg);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  box-sizing: border-box;
}

.card-header .collapsed h3::after {
  transform: rotate(-90deg);
}

faq-answer {
  padding: 0 15px;
  background-color: #f7f7f7;
  text-align: justify;
  box-sizing: border-box;
  display: block;
}

.collapse:not(.show) {
  display: none;
}

.faq-answer p {
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: block;
  padding: 0 15px;
  background-color: #f7f7f7;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 14px;
}

.about-us {
  position: relative;
  padding: 100px 0 60px;
  display: block;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .about-us {
    padding: 160px 0 60px;
  }
}

.speech4 {
  top: 0;
  display: block;
  border-style: none;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  position: absolute;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.about-us-col1 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .about-us-col1 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    order: 2;
  }
}

.about-us-col2 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .about-us-col2 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    order: 1;
  }
}

.img-tworcy {
  display: block;
  width: 240px;
  margin: 0 auto 30px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

@media (min-width: 992px) {
  .img-tworcy {
    width: auto;
    margin-top: 100px;
  }
}

.about-us-col2 h2 {
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .about-us-col2 h2 {
    font-size: 32px;
  }
}

.about-us-col2 p {
  margin: 0 0 15px;
  color: #555;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .about-us-col2 p {
    font-size: 16px;
  }
}

.partners {
  padding: 60px 0;
  background-color: #fff;
  text-align: center;
}

.partners-img {
  margin-left: 0;
  margin-right: 0;
}

.speech5 {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.partners-container {
  background-color: #f7f7f7;
  padding-bottom: 3rem;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .partners-container {
    padding-bottom: 0.25rem;
  }
}

.partners-col1 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .partners-col1 {
    flex: 0 0 50%;
    max-width: 50%;
    order: 2;
  }
}

.partners-col2 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .partners-col2 {
    flex: 0 0 50%;
    max-width: 50%;
    order: 1;
  }
}

.partners-col1 h3 {
  margin: 0 0 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat';
  line-height: 1.2;
}

@media (min-width: 992px) {
  .partners-col1 h3 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.partners-col2 h3 {
  margin: 0 0 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat';
  line-height: 1.2;
}

@media (min-width: 992px) {
  .partners-col2 h3 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.media-partners {
  /*margin-right: 30px;*/
  /*width: 450px;*/
}

.media-partners img {
  margin-bottom: 60px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 60px;
  vertical-align: middle;
}

.tworcy-title {
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: 300;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  .tworcy-title {
    font-size: 32px;
    font-weight: 400;
  }
}

.partnerzy-title {
  font-size: 45px;
  padding-bottom: 3rem !important;
  margin-top: 0;
  font-family: 'Montserrat';
  font-weight: 500;
}

@media (min-width: 992px) {
  .partnerzy-title {
    margin-bottom: 50px;
    font-size: 56px;
    font-weight: 700;
  }
}

.nav-bar {
  position: relative;
  padding: 10px 15px;
  border-top: 1px solid #eee;
  background-color: #fff;
  z-index: 2;
}

@media (min-width: 992px) {
  .nav-bar {
    padding: 24px 0;
    border-top-width: 2px;
  }
}

.logo {
  width: 160px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .logo {
    margin-left: 50px;
    width: 220px;
  }
}

.nav {
  display: none;
  flex-wrap: wrap;
  padding-top: 0;
  margin-bottom: 0;
  list-style: none;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .nav {
    position: absolute;
    display: block;
    top: 13px;
    right: 10px;
  }
}

.nav ul {
  margin: 20px 0 10px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav li {
  text-align: -webkit-match-parent;
}

@media (min-width: 992px) {
  .nav li {
    display: inline-block;
    padding: 0 0 0 20px;
  }
}

.nav a {
  display: block;
  padding: 5px 0;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

@media (min-width: 992px) {
  .nav a {
    position: relative;
  }
}

.nav-button {
  display: inline-block;
  padding: 5px 20px !important;
  color: #fff !important;
  background-color: #1f77e1;
  border-radius: 24px;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .nav-button {
    position: relative;
  }
}

.toggler {
  position: absolute;
  top: 14px;
  right: 15px;
  width: 30px;
  height: 6px;
  margin: 10px 0;
  background-color: #000;
  border-radius: 3px;
  transition: all 200ms;
}

.toggler::before, .toggler::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 6px;
  background-color: #000;
  border-radius: 3px;
  transition: all 200ms;
}

.toggler::before {
  top: -10px;
  transform: rotate(0deg);
}

.toggler::after {
  bottom: -10px;
  transform: rotate(0deg);
}

@media (min-width: 992px) {
  .toggler {
    display: none;
  }
}

.toggler.active {
  background-color: transparent;
}

.nav.active {
  display: block;
}

.toggler.active::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.toggler.active::before {
  top: 0;
  transform: rotate(45deg);
}

.sticky-top {
  position: sticky;
}

.header {
  padding-top: 0;
  position: relative;
  display: block;
  box-sizing: border-box;
  /*bottom: 0;*/
}

@media (min-width: 992px) {
  .header {
    padding-bottom: 75px;
  }
}

.header-col1 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .header-col1 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.header-col1 p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Montserrat';
  text-align: center;
}

@media (min-width: 992px) {
  .header-col1 p {
    font-size: 30px;
    color: #000;
    margin: 20px 0 50px;
    text-align: left;
  }
}

.header-col1 img {
  display: none;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

@media (min-width: 992px) {
  .header-col1 img {
    display: block;
    margin: 0 auto;
  }
}

.read-more {
  padding: 30px 0 70px;
  background-color: #eee;
  text-align: center;
}

@media (min-width: 576px) {
  .read-more {
    padding: 30px 0 90px;
  }
}

@media (min-width: 768px) {
  .read-more {
    padding: 30px 0 110px;
  }
}

@media (min-width: 992px) {
  .read-more {
    display: none;
  }
}

.read-more-text {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Montserrat';
}

.arrow-down {
  position: relative;
  display: block;
  width: 39px;
  height: 39px;
  margin: 0 auto;
  color: #007bff;
  background-color: transparent;
  font-weight: 700;
  text-decoration: underline;
}

.arrow-down::before, .arrow-down::after {
  /*left: 0;*/
  /*transform: rotate(45deg);*/
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  width: 24px;
  height: 3px;
  background-image: linear-gradient(to right, #2771da, #1951b2);
}

.arrow-down::before {
  left: 0;
  transform: rotate(45deg);
}

.arrow-down::after {
  right: 0;
  transform: rotate(135deg);
}

.btn-brand2 {
  padding: 0 25px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat';
  line-height: 40px;
  color: #1f77e1 !important;
  border: 3px solid #1f77e1 !important;
  border-radius: 24px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  box-sizing: border-box;
  transition: all 200ms;
}

.section-before-footer {
  position: relative;
  padding: 40px 0 60px;
}

.container-before-footer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3rem !important;
  margin-bottom: 3rem !important;
}

@media (min-width: 576px) {
  .container-before-footer {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-before-footer {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-before-footer {
    max-width: 960px;
  }
}

.container-before-footer p {
  font-size: 12px;
  font-family: 'Montserrat';
  margin: 0 0 15px;
  color: #555;
}

.speech6 {
  position: absolute;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  bottom: -1px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.footer {
  padding: 30px 0 0;
  background-color: #1350af;
}

.social-media {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media (min-width: 768px) {
  .social-media {
    text-align: right !important;
  }
}

.social-media li {
  display: inline-block;
  padding: 0 15px;
}

.social-media a, .social-media a:hover {
  color: white;
}

.social-media img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.contact-info {
  margin-top: 30px;
}

.contact-info p {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  font-family: 'Montserrat';
  color: #fff;
}

@media (min-width: 992px) {
  .contact-info p {
    font-size: 16px;
  }
}

.footer-logo {
  position: relative;
  top: 2px;
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 992px) {
  .footer-logo {
    text-align: right;
  }
}

.footer-logo img {
  width: 400px;
  max-width: 60vw;
  vertical-align: middle;
  border-style: none;
}

.after-footer p {
  margin: 15px 0;
  font-size: 14px;
  font-family: 'Montserrat';
  text-align: center;
}

.after-footer a {
  color: #000;
}

.test-header {
  padding: 26px 15px;
}

@media (min-width: 576px) {
  .test-header {
    background-size: cover;
    background-image: url(../../assets/img/header.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    min-height: 145px;
  }
}

@media (min-width: 768px) {
  .test-header {
    padding: 26px 48px;
  }
}

@media (max-width: 575px) {
  .test-header {
    background-color: #f7f7f7;
  }
}

@media (max-width: 767px) {
  .test-header {
    text-align: center;
    padding: 16px 15px;
  }
}

.test-header a {
  background-color: transparent;
  text-decoration: none;
  color: #007BFF;
  transition: all 200ms;
}

.test-header img {
  width: 191px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.test-main {
  margin-bottom: 0px;
}

.test-container {
  max-width: 985px;
}

.test-questioner {
  min-height: auto;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .test-questioner {
    padding-top: 50px;
  }
}

.test-step {
  position: relative;
  display: block;
}

.test-title {
  margin: 0 0 18px 0;
  padding: 0 0 2px 0;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #1f77e1;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .test-title {
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  .test-title {
    font-size: 20px;
    font-weight: 700;
  }
}

.test-intro-content p {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  color: #565656;
  margin-top: 0;
  margin-bottom: 1rem;
}

.test-button-div {
  text-align: center !important;
  margin-top: 3rem;
}

.test-button {
  padding: 0 25px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat';
  line-height: 40px;
  color: #1f77e1;
  border: 3px solid #1f77e1;
  border-radius: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1;
  transition: all 200ms;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
}

.test-button-active{
  color: #fff !important;
  background-color: #1f77e1 !important;
}

.inactive {
  display: none !important;
  /*visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;*/
}


.step_visuallyhidden{
  opacity: 0;
}

.test-title span {
  color: #244384;
}

.test-question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 185px;
}

@media (max-width: 575px) {
  .test-question-container {
    min-height: 140px;
  }
}

.test-question {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Montserrat';
  line-height: 1.3;
  text-align: center;
  color: #000;
}

@media (min-width: 768px) {
  .test-question {
    margin: 5px 0 40px;
    font-size: 26px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .test-question {
    font-size: 18px;
  }
}

.test-help {
  position: static;
  padding: 0;
  list-style: none;
  min-height: 21px;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: right;
}

@media (min-width: 768px) {
  .test-help {
    position: absolute;
    top: 9px;
    right: 0;
  }
}

.test-help li {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Montserrat';
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-bottom: 1px solid #a1a1a1;
}

@media (min-width: 768px) {
  .test-help li {
    margin-left: 0;
    /*margin-left: 38px;*/
    font-size: 14px;
  }
}

.test-explenation-open {
  position: relative;
  color: #a1a1a1;
  transition: all 200ms;
  text-decoration: none;
  background-color: transparent;
}

.test-buttons {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 190px;
}

@media (min-width: 768px) {
  .test-buttons {
    height: 150px;
    padding-top: 0;
  }
}

.test-wrapper {
  left: 0px;
  width: 200%;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .test-wrapper {
    position: static;
    width: 100%;
    white-space: normal;
  }
}

.test-slide {
  display: inline-block;
  width: 50%;
}

@media (min-width: 992px) {
  .test-slide {
    width: 100%;
    display: block;
    position: static;
  }
}

.test-more-buttons {
  /*position: relative;*/
  top: -30px;
  width: 92%;
  margin: 0 auto;
  justify-content: center !important;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .test-more-buttons {
    position: static;
  }
}

@media (min-width: 992px) {
  .test-more-buttons {
    position: static;
  }
}

@media (max-width: 767px) {
  .test-more-buttons {
    top: -70px;
  }
}

.test-button-button {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 1rem !important;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .test-button-button {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.test-buttob-button test-button {
  padding: 0;
  width: 100%;
  cursor: pointer;
}

.test-button-button .test-button {
  width: 100%;
}

@media (max-width: 870px) and (min-width: 768px) {
  .test-button-button .test-button {
    font-size: 16px;
    letter-spacing: 0;
  }
}

.pagination {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 42.5px;
  opacity: 1;
  margin: 0;
  display: none;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

@media (min-width: 992px) {
  .pagination {
    height: auto;
    overflow: visible;
    margin-top: 30px !important;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .pagination {
    width: 381px;
    margin: 0px auto;
  }
}

@media (max-width: 420px) {
  .pagination {
    width: 300px;
    margin: 0px auto;
  }
}

.test-pagination-wrapper {
  left: 0px;
  top: 4px;
  padding: 0 20px 0 5px;
  position: absolute;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .test-pagination-wrapper {
    min-width: 992px;
    position: static;
    width: 100%;
    white-space: normal;
  }
}

.test-change-question-button {
  display: inline-block;
  width: 42.5px;
  height: 42.5px;
  padding: 0;
  margin: 0;
}

@media (min-width: 992px) {
  .test-change-question-button {
    width: 33px;
    height: 33px;
    display: inline-block !important;
    display: block;
    position: static;
  }
}

.test-change-step {
  display: block;
  width: 34px;
  height: 34px;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  color: #d5d5d5 !important;
  cursor: default;
  transition: all 200ms;
  text-decoration: none;
}

@media (min-width: 992px) {
  .test-change-step {
    width: 33px;
    height: 33px;
    font-size: 16px;
  }
}

.test-change-step.active {
  color: #fff !important;
  background-color: #2081e8 !important;
  transform: scale(1.25) !important;
}

.test-change-step.unlock {
  cursor: pointer;
}

.test-change-step.done {
  color: #2081e8 !important;
  cursor: pointer;
}

.test-result-change-button {
  font-size: 15px;
  text-transform: uppercase;
  background-color: #fff !important;
  color: #d5d5d5 !important;
  transform: scale(1) !important;
  font-weight: 500;
  line-height: 34px;
  width: 34px;
  height: 34px;
  font-family: 'Montserrat';
  text-align: center;
  border-radius: 50%;
  cursor: default;
  text-decoration: none;
  transition: all 200ms;
}

@media (min-width: 992px) {
  .test-result-change-button {
    width: 33px;
    height: 33px;
  }
}

.test-results-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.test-results-title {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.test-results-title h1 {
  margin: 0 0 18px 0;
  padding: 0 0 2px 0;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #1f77e1;
  letter-spacing: 1px;
  margin-bottom: 10px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .test-results-title h1 {
    letter-spacing: 0;
  }
}

.test-results{
  display: none;
}

.test-results p {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
}

.test-results-chart {
  position: relative;
  width: 100%;
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 992px) {
  .test-results-chart {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.test-results-chart-row {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.test-results-chart-row-img {
  flex: 0 0 17%;
  max-width: 17%;
  position: relative;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 576px) {
  .test-results-chart-row-img {
    flex: 0 0 12%;
    max-width: 12%;
  }
}

@media (min-width: 992px) {
  .test-results-chart-row-img {
    flex: 0 0 10%;
    max-width: 10%;
  }
}

.test-results-chart-progressbar {
  flex: 0 0 70%;
  max-width: 70%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

@media (min-width: 576px) {
  .test-results-chart-progressbar {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .test-results-chart-progressbar {
    padding-left: 0;
    flex: 0 0 80%;
    max-width: 80%;
  }
}

.test-results-chart-percent {
  padding-left: 0;
  padding-right: 0;
  flex: 0 0 13%;
  max-width: 13%;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
}

@media (min-width: 992px){
  .test-results-chart-percent {
    flex: 0 0 8%;
    max-width: 8%;
  }
}

.test-results-chart-row-img img {
  width: 60px;
}

.test-progressbar-gray {
  height: 40px;
  margin-bottom: 5px;
  border-radius: 0;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  transition: width 0.6s ease;
  justify-content: center;
}

.test-progressbar-blue {
  height: 100%;
  background-color: #2881e9;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  transition: width 800ms;
}

.test-candidate-surname{
  margin-bottom: 0!important;
  font-size: 14px;
  font-weight: 400!important;
  color: #565656;
  font-family: Montserrat;
  font-size: 14px;
  margin-top: 0;
}

.test-results-percent{
  font-family: Montserrat;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0 !important;
  color: #565656;
  font-weight: 400!important;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.inactive {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	50% {
		opacity: 1;
	}
	100% {
    opacity: 0;
	}
}

.explanation_div{
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  outline: 0;
  transition: opacity .15s linear;
}

.explanation_dialog{
  -webkit-transform: none;
  transform: none;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  display: flex;
  align-items: center;
  position: relative;
  pointer-events: all;
  font-weight: 800 !important;
}

@media (min-width: 576px){
  .explanation_dialog{
    max-width: 500px;
    margin: 1.75rem auto;
    min-height: calc(100% - 3.5rem);
  }
}

@media (min-width: 768px) {
  .explanation_dialog{
    width: auto;
    height: auto;
    min-height: auto;
    margin: 0.5rem auto;
  }
}

@media (min-width: 992px) {
  .explanation_dialog{
    max-width: 1000px;
  }
}

.explanation_dialog::before{
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.explanation_modal_content{
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  position: relative;
}

@media (min-width: 768px) {
  .explanation_modal_content{
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 30px 35px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(0, 0 , 0, 0.2);
  }
}

.explanation_modal_header{
  position: relative;
  padding: 10px 0 0 0;
  border: none;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  font-weight: 800 !important;
}

@media (min-width: 768px){
  .explanation_modal_header {
    padding-top: 0;
    letter-spacing: 0;
  }
}

.explanation_modal_title{
  font-size: 24px;
  font-weight: 800 !important;
  color: #1f77e1;
  margin-bottom: 0;
  line-height: 1.5;
  font-family: 'Montserrat';
  margin-top: 0;
}

.explanation_close{
  position: absolute;
  top: -8px;
  right: -18px;
  font-size: 55px;
  color: #1f77e1;
  opacity: 1;
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  overflow: visible;
  text-transform: none;
  font-family: 'Montserrat';
  border-radius: 0;
}

@media (min-width: 768px){
  .explanation_close{
    top: -25px;
  }
}

.explanation_modal_body{
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

@media (min-width: 768px){
  .explanation_modal_body{
    overflow-x: auto;
    height: auto;
    max-height: auto;
  }
}

.explanation_modal_body p{
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #565656;
  text-align: left;
  font-family: 'Montserrat';
}

.explanation_modal_body ul{
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: disc;
}

.explanation_modal_body li{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #565656;
  font-family: 'Montserrat';
  text-align: justify;
  direction: ltr;
  box-sizing: border-box;
  unicode-bidi: isolate;
  display: list-item;
}

.explanation_question{
  margin-bottom: 20px !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 1.3 !important;
  color: #000 !important;
  text-align: center !important;
  margin-top: 0 !important;
}

@media (min-width: 768px){
  .explanation_question{
    margin-bottom: 35px !important;
    font-size: 26px !important;
    text-align: center !important;
  }
}

.test-explanation-open{
  position: relative;
  color: #a1a1a1;
  transition: all 200ms;
}

.test-explanation-open:hover{
  color: #2081e8;
  text-decoration: none !important;
}

.show_campaign_committes_answers_div{
  text-align: center !important;
}

.show_campaign_committes_answers_btn{
  width: 100%;
  background-color: #fff;
  transition: color 200ms !important;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 37px;
  font-weight: 700;
  color: #1f77e1 !important;
  border: 3px solid #1f77e1;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 1;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  font-family: 'Montserrat';
}

@media(min-width: 768px){
  .show_campaign_committes_answers_btn{
    width: auto;
    transition: all 200ms !important;
  }
}

.show_campaign_committes_answers_btn:hover{
  color: #1f77e1 !important;
  opacity: 0.7;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
}

.campaign_committes_answers_questionnaire{
  padding-top: 0;
  display: none;
}

.campaign_committes_steps{
  padding-top: 30px;
  min-height: 770px;
}

@media(max-width: 575px){
  .campaign_committes_steps{
    padding-top: 15px;
  }
}

@media(min-width: 576px){
  .campaign_committes_steps{
    min-height: 470px;
  }
}

@media(min-width: 768px){
  .campaign_committes_steps{
    min-height: 470px;
  }
}

.answers_step{
  position: relative;
  display: none;
}

.committe_answers_rows{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.committe_answers_row{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: center;
}

@media(min-width: 576px){
  .committe_answers_row{
    flex: 0 0 33.333333%;
    /*max-width: 33.333333%; */
  }
}

.answers_candidates{
  margin-top: 10px;
}

@media(min-width: 768px){
  .answers_candidates{
    margin-top: 0;
  }
}

.answer{
  position: relative;
  padding: 46px 0 18px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center !important;
  letter-spacing: 0.7px;
  color: #084b9a;
  background-image: url(../img/arrow-down.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  font-family: 'Montserrat';
}

@media(min-width: 768px){
  .answer{
    padding-top: 0;
  }
}

.answer:before{
  left: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 9px;
  width: calc(50% - 7px);
  height: 1px;
  background-color: #a0a0a0;
}

.answer:after{
  right: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 9px;
  width: calc(50% - 7px);
  height: 1px;
  background-color: #a0a0a0;
}

.committe_answers_row{
  padding: 15px 20px 0;
  margin-left: -5px;
  margin-right: -5px;
  display: block;
  flex-wrap: wrap;
  text-align: center;
}

.committee_answers_img{
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 3px;
  padding-right: 3px;
}

@media(min-width: 992px){
  .committee_answers_img{
    flex: 0 0 33%;
    max-width: 33%;
  }
}

@media(max-width: 576px){
  .committee_answers_img{
    flex: 0 0 33%;
    max-width: 33%;
  }
}


.answers_test-change-step{
  display: block;
  width: 34px;
  height: 34px;
  font-size: 20px;
  font-weight: 500 !important;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff !important;
  font-family: 'Montserrat';
  color: #2081e8 !important;
  cursor: pointer;
  transition: all 200ms;
  text-decoration: none;
}

@media(min-width: 992px){
  .answers_test-change-step{
    width: 33px;
    height: 33px;
    font-size: 16px;
  }
}

.answer_active{
  color: #fff !important;
  background-color: #2081e8 !important;
  transform: scale(1.25) !important;
}
